    <footer class="container">

      <ul class="list-inline pull-right">
            <li><a href="#">Documentação</a></li>
            <li><a href="#">Suporte</a></li>
            <li><a href="#">Política de Privacidade</a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="#">©Pagar.me</a></li>
      </ul>

      <img src="images/icon-pagarme.png" class="icon-pagarme pull-right">
      <img src="images/icon-pci-gray.gif" class="pci pull-left">
      <p class="pull-left">Em conformidade com as normas internacionais de segurança do PCI DSS.</p>

    </footer>


