*------------------------------------------------------------------------------
Global Documentation Styles
------------------------------------------------------------------------------*/
/* line 5, ../sass/documentation.scss */
html {
  height: 100%; }

/* line 9, ../sass/documentation.scss */
body {
  font: 13px helvetica,arial,freesans,clean,sans-serif;
  line-height: 1.4em;
  background-color: #f0f0f0;
  color: #393939;
  margin: 0px;
  padding: 0px;
  height: 100%; }

/* line 19, ../sass/documentation.scss */
p {
  margin: 1em 0; }

/* line 23, ../sass/documentation.scss */
h1 {
  font-family: 'Titillium Web', Arial, sans-serif;
  font-weight: 600;
  font-size: 28px;
  padding: 0 0 1.2em 0;
  margin: 2em 0 1em;
  color: #f67521; }

/* line 32, ../sass/documentation.scss */
#wrapper h1 {
  border-bottom: 1px solid #cccccc; }

/* line 36, ../sass/documentation.scss */
h1:first-child {
  margin: 0 0 1em; }

/* line 40, ../sass/documentation.scss */
#logo h1 {
  font-family: Helvetica;
  margin-top: 10px;
  font-size: 40px; }

/* line 46, ../sass/documentation.scss */
h2 {
  font-size: 16px;
  color: #333;
  margin: 2em auto 1em; }

/* line 52, ../sass/documentation.scss */
body.api .content h2 {
  background: transparent url(../images/crud-sprite.png) left 2px no-repeat;
  padding-left: 22px;
  margin-bottom: 0.5em;
  margin-top: 1em; }

/* line 59, ../sass/documentation.scss */
body.api .change h2.title {
  background: none;
  line-height: 1.2em;
  margin-bottom: 0;
  padding-left: 0;
  font-size: 24px; }

/* line 67, ../sass/documentation.scss */
h2 span.step {
  color: #f67521; }

/* line 71, ../sass/documentation.scss */
h3 {
  font-size: 14px;
  color: #333;
  margin: 1.5em 0 .5em; }

/* line 77, ../sass/documentation.scss */
h5 {
  font-size: 13px; }

/* line 81, ../sass/documentation.scss */
h6 {
  font-size: 13px;
  color: #666; }

/* line 86, ../sass/documentation.scss */
a {
  color: #f67521;
  text-decoration: none; }

/* line 91, ../sass/documentation.scss */
a:hover,
a:active {
  text-decoration: underline; }

/* line 96, ../sass/documentation.scss */
blockquote {
  margin: 0 -5px;
  padding: 0px 20px; }

/* line 101, ../sass/documentation.scss */
ul,
ol {
  margin: 0px;
  padding: 0px; }

/* line 107, ../sass/documentation.scss */
dt {
  font-weight: bold; }

/* line 111, ../sass/documentation.scss */
dd {
  padding-left: 1em;
  margin-bottom: 1em; }

/* line 116, ../sass/documentation.scss */
dd + dd {
  margin-bottom: 0; }

/* line 120, ../sass/documentation.scss */
span.attention,
p.attention {
  color: #e98400;
  font-style: italic; }

/* line 126, ../sass/documentation.scss */
a img {
  border: 0px; }

/*------------------------------------------------------------------------------
Header Styles
------------------------------------------------------------------------------*/
/* line 134, ../sass/documentation.scss */
#header-wrapper {
  clear: both;
  height: 100px;
  width: 100%;
  background: #fff;
  position: fixed;
  z-index: 1000;
  margin-top: 0;
  box-shadow: 0px 3px 22px rgba(50, 50, 50, 0.2); }

/* line 145, ../sass/documentation.scss */
#header {
  margin: 0 auto;
  width: 990px;
  overflow: hidden; }

/* line 151, ../sass/documentation.scss */
#header a.logo {
  float: left;
  margin-top: 25px;
  display: inline-block; }

/* line 158, ../sass/documentation.scss */
#header nav ul {
  float: right;
  padding: 10px 3px 8px 2px;
  font-weight: bold;
  font-size: 12px;
  margin-top: 30px; }

/* line 166, ../sass/documentation.scss */
#header nav ul li:first-child {
  background: transparent; }

/* line 170, ../sass/documentation.scss */
#header nav ul li {
  float: left;
  display: inline;
  margin: 0;
  padding: 0px 11px 0px 13px;
  list-style-type: none;
  text-transform: uppercase;
  color: #bab9b9;
  font-family: 'Titillium Web', Arial, sans-serif;
  font-weight: 600;
  font-size: 14px; }

/* line 185, ../sass/documentation.scss */
#header a {
  outline: none;
  text-decoration: none;
  color: #8d8d8d; }

/* line 191, ../sass/documentation.scss */
#header input, #header button {
  border: none;
  background-color: #ef6d00;
  color: #fff;
  font-size: 18px;
  font-family: 'Titillium Web', Arial, sans-serif;
  font-weight: 500;
  padding: 10px 22px;
  float: right;
  margin: 25px 0px 0px 30px; }

/*------------------------------------------------------------------------------
Sidebar
------------------------------------------------------------------------------*/
/* line 208, ../sass/documentation.scss */
div.sidebar-shell {
  position: fixed;
  float: right;
  margin: 135px 0 0;
  display: inline; }

/* line 215, ../sass/documentation.scss */
div.sidebar-module {
  background: #fff;
  display: block;
  width: 250px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #bab9b9;
  font-family: 'Titillium Web', Arial, sans-serif;
  font-weight: 600; }

/* line 227, ../sass/documentation.scss */
div.sidebar-module > ul {
  background: #fff;
  border: solid #fff;
  border-width: 1px 1px 0px 1px;
  margin: 0px 0px 0px 0px; }

/* line 235, ../sass/documentation.scss */
div.sidebar-module > p {
  background: #fff;
  border: solid #CACACA;
  border-width: 1px;
  padding: 8px 10px;
  margin: 0px;
  display: block;
  line-height: 1.4em; }

/* line 245, ../sass/documentation.scss */
div.sidebar-module li {
  list-style-type: none; }

/* line 250, ../sass/documentation.scss */
div.sidebar-module li li {
  margin-left: 10px; }

/* line 254, ../sass/documentation.scss */
div.sidebar-module > ul > li {
  text-decoration: none; }

/* line 259, ../sass/documentation.scss */
div.sidebar-module > ul > li:hover {
  text-decoration: none; }

/* line 264, ../sass/documentation.scss */
div.sidebar-module > ul h3 {
  margin: 0px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  background-color: #e1e1e1; }

/* line 274, ../sass/documentation.scss */
div.sidebar-module > ul li h3:hover,
div.sidebar-module > ul h3.disable {
  background-color: #fff; }

/* line 280, ../sass/documentation.scss */
div.sidebar-module > ul h3 a,
div.sidebar-module > ul h3.disable span {
  padding: 8px 0px 8px 10px;
  color: #fff;
  display: block;
  text-decoration: none; }

/* line 288, ../sass/documentation.scss */
div.sidebar-module > ul h3.disable span {
  padding-left: 20px;
  background-image: url(../images/active-arrow.png);
  background-position: left center;
  background-repeat: no-repeat;
  cursor: default; }

/* line 296, ../sass/documentation.scss */
div.sidebar-module > ul h3:hover a {
  text-decoration: none; }

/* line 300, ../sass/documentation.scss */
div.sidebar-module ul ul,
div.sidebar-module .spacer {
  display: block;
  padding-bottom: 2px;
  background-color: #fff; }

/* line 307, ../sass/documentation.scss */
div.sidebar-module ul ul li {
  font-weight: bold;
  color: #666; }

/* line 314, ../sass/documentation.scss */
div.sidebar-module ul ul li a:hover,
div.sidebar-module li.disable {
  color: #f67521 !important; }

/* line 322, ../sass/documentation.scss */
div.sidebar-module li.disable {
  background-image: url(../images/active-arrow.png);
  background-position: left center;
  background-repeat: no-repeat; }

/* line 329, ../sass/documentation.scss */
div.sidebar-module ul ul li a,
div.sidebar-module ul ul li span {
  padding: 6px 0px 6px 10px;
  display: block;
  text-decoration: none;
  color: #8e8e8e;
  font-weight: normal; }

/* line 339, ../sass/documentation.scss */
div.sidebar-module ul ul li span {
  padding-left: 20px;
  cursor: default; }

/* @end */
/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/
/* line 354, ../sass/documentation.scss */
#footer {
  position: relative;
  bottom: 0;
  font-size: 13px;
  color: #636363;
  margin: 45px 0 0 0; }

/* line 362, ../sass/documentation.scss */
#footer a:hover {
  text-decoration: underline; }

/* line 366, ../sass/documentation.scss */
#footer li {
  list-style: none; }

/* line 370, ../sass/documentation.scss */
.footer_inner {
  width: 960px;
  position: relative;
  margin: 0 auto; }

/* line 376, ../sass/documentation.scss */
#footer .upper_footer {
  min-height: 160px;
  overflow: hidden;
  background: url(../images/bg_footer_top.png) #f8f8f8 repeat-x; }

/* line 382, ../sass/documentation.scss */
#footer #blacktocat {
  height: 130px;
  width: 164px;
  float: left;
  background: url(../images/blacktocat.png) top left no-repeat;
  text-indent: -5000px;
  margin: 15px 20px 0 0; }

/* line 391, ../sass/documentation.scss */
#footer #blacktocat_ie {
  height: 130px;
  width: 164px;
  float: left;
  background: url(../images/blacktocat.png) no-repeat;
  text-indent: -5000px;
  margin: 15px 20px 0 0; }

/* line 400, ../sass/documentation.scss */
#footer .upper_footer ul.footer_nav {
  position: relative;
  float: left;
  width: 164px;
  margin: 20px 10px; }

/* line 407, ../sass/documentation.scss */
#footer .upper_footer ul.footer_nav h4 {
  margin: 0 0 5px 0;
  padding-bottom: 5px;
  border-bottom: thin solid #e1e1e1; }

/* line 413, ../sass/documentation.scss */
#footer .lower_footer {
  position: relative;
  background: url(../images/bg_footer_bottom.png) white repeat-x;
  overflow: hidden;
  clear: both; }

/* line 420, ../sass/documentation.scss */
#footer .lower_footer .home {
  display: block;
  position: absolute;
  background: url(../images/footer-logo.png) top left no-repeat;
  width: 100px;
  height: 50px;
  text-indent: -5000px; }

/* line 429, ../sass/documentation.scss */
#footer .lower_footer .home_ie {
  display: block;
  position: absolute;
  background: url(../images/footer-logo.png) top left no-repeat;
  width: 100px;
  height: 50px;
  text-indent: -5000px; }

/* line 438, ../sass/documentation.scss */
#footer .lower_footer #legal {
  float: left;
  width: 500px;
  height: 50px;
  line-height: 8px;
  margin: 25px 0 0 17px; }

/* line 446, ../sass/documentation.scss */
#footer .lower_footer #legal #legal_links {
  margin-left: 177px; }

/* line 450, ../sass/documentation.scss */
#footer .lower_footer div ul {
  float: left;
  text-indent: none;
  display: inline;
  margin-top: 15px; }

/* line 458, ../sass/documentation.scss */
#footer .lower_footer div ul li {
  display: inline;
  float: left;
  margin: 0 10px 0 0; }

/* line 464, ../sass/documentation.scss */
#footer .lower_footer div p {
  display: inline;
  float: left;
  clear: both;
  margin: 10px 0 0 177px; }

/* line 471, ../sass/documentation.scss */
#footer .lower_footer .sponsor {
  width: 295px;
  float: right;
  margin-top: 35px;
  padding-bottom: 25px; }

/* line 478, ../sass/documentation.scss */
#footer .lower_footer .sponsor .logo {
  float: left;
  margin: 0 10px 0 0; }

/* line 483, ../sass/documentation.scss */
#footer .lower_footer .sponsor a {
  color: #000; }

/* end */
/*------------------------------------------------------------------------------
Not Footer
------------------------------------------------------------------------------*/
/* line 492, ../sass/documentation.scss */
#wrapper {
  padding: 0px;
  overflow: hidden;
  height: auto;
  width: 990px;
  margin: 0 auto 0;
  /*background: url(../images/background-white.png) 0 0 no-repeat;*/ }

/* line 501, ../sass/documentation.scss */
.content {
  width: 660px;
  position: relative;
  float: left;
  color: #444;
  z-index: 900;
  background-color: #fff;
  padding: 40px 40px 40px 40px;
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: 0;
  min-height: 600px; }

/* line 515, ../sass/documentation.scss */
.content dl {
  margin-left: 0px; }

/* line 519, ../sass/documentation.scss */
.content dt {
  color: #666; }

/* line 523, ../sass/documentation.scss */
.content ol {
  margin-left: 1.5em; }

/* line 527, ../sass/documentation.scss */
.content ul {
  list-style-type: disc;
  margin: 1.5em; }

/* line 532, ../sass/documentation.scss */
.content dd ul {
  margin-top: 0; }

/* line 536, ../sass/documentation.scss */
.content li {
  line-height: 1.7em; }

/* line 540, ../sass/documentation.scss */
.content img {
  max-width: 100%;
  border: 1px solid #dddddd;
  -webkit-box-shadow: 1px 1px 3px #ddd;
  -moz-box-shadow: 1px 1px 3px #ddd;
  box-shadow: 1px 1px 3px #ddd; }

/* line 548, ../sass/documentation.scss */
.content a {
  color: #4183C4; }

/* line 553, ../sass/documentation.scss */
.content .description {
  margin-left: 20px; }

/* line 557, ../sass/documentation.scss */
.content .verseblock-content {
  padding: 3px; }

/* line 561, ../sass/documentation.scss */
.content .verseblock-content,
.content .sectionbody .dlist dt,
.content p > tt,
.content dl code,
.content ul code,
p code {
  font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  color: #52595d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 0px 3px;
  display: inline-block; }

/* line 581, ../sass/documentation.scss */
.content .sectionbody .dlist dt {
  margin-top: 10px; }

/* line 585, ../sass/documentation.scss */
.content .verseblock-content {
  padding: 3px; }

/* line 589, ../sass/documentation.scss */
.content .intro {
  color: #868686; }

/* line 593, ../sass/documentation.scss */
.change {
  padding-bottom: 1em; }

/* line 597, ../sass/documentation.scss */
.change .meta {
  font-size: 16px;
  padding-bottom: 1em; }

/* line 602, ../sass/documentation.scss */
.change .who_when .author {
  color: #eee; }

/* line 606, ../sass/documentation.scss */
.change .who_when .published {
  color: #ccc; }

/* @end */
/*------------------------------------------------------------------------------
Pre/Code Styles
------------------------------------------------------------------------------*/
/* line 616, ../sass/documentation.scss */
code {
  white-space: nowrap; }

/* line 618, ../sass/documentation.scss */
pre {
  border: 1px solid #cacaca;
  line-height: 1.2em;
  font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  /* overflow: auto; */
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #FAFAFB;
  overflow-x: scroll; }

/* line 634, ../sass/documentation.scss */
pre code {
  display: inline-block;
  white-space: pre;
  word-wrap: break-word; }

/* end */
/*------------------------------------------------------------------------------
More Info Expander
------------------------------------------------------------------------------*/
/* line 646, ../sass/documentation.scss */
.more-info {
  margin: 10px 0;
  position: relative; }

/* line 650, ../sass/documentation.scss */
.more-info > h4 {
  background-image: url("../images/dropdown_sprites.jpg");
  background-repeat: no-repeat;
  padding: .25em 0 .25em 25px;
  cursor: pointer;
  color: #4183C4;
  font-weight: normal; }

/* line 658, ../sass/documentation.scss */
.more-info h4.compressed {
  background-position: 0 0; }

/* line 661, ../sass/documentation.scss */
.more-info:hover h4.compressed {
  background-position: 0 -23px; }

/* line 664, ../sass/documentation.scss */
.more-info h4.expanded {
  background-position: 0 -46px; }

/* line 667, ../sass/documentation.scss */
.more-info:hover h4.expanded {
  background-position: 0 -69px; }

/* line 671, ../sass/documentation.scss */
.more-info .more-content {
  display: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #FFFFFF;
  border: 3px solid #DDDDDD;
  padding: 1em 2em;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  margin: 15px 0 30px; }

/* line 685, ../sass/documentation.scss */
.more-info .more-content h4 {
  margin-top: 1em; }

/* line 689, ../sass/documentation.scss */
.more-info .more-content pre {
  margin-left: 0px; }

/****************************/
/*       List Module        */
/****************************/
/* line 697, ../sass/documentation.scss */
.list-module h2 {
  background-clip: padding-box;
  padding: 6px 10px;
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: -ms-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: -o-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e1e1e1));
  background-image: -webkit-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image: linear-gradient(top, #f1f1f1, #e1e1e1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f1', EndColorStr='#e1e1e1');
  color: #666;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 22px;
  margin: 0px; }

/* line 715, ../sass/documentation.scss */
.list-module .list-body {
  background-clip: padding-box;
  background-color: #fafafb;
  color: #666;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7); }

/* line 722, ../sass/documentation.scss */
.list-module .list-body .icon {
  display: block;
  height: 28px;
  width: 28px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: transparent url(images/popular_guide_sprites.png) 0 0 no-repeat; }

/* line 732, ../sass/documentation.scss */
.list-module a {
  padding: 6px 10px;
  position: relative;
  display: block; }

/* line 738, ../sass/documentation.scss */
.list-module a:hover {
  background-color: #fff;
  text-decoration: none; }

/* line 743, ../sass/documentation.scss */
.list-module a h3 {
  /* color: #4183C4; */
  color: #fff; }

/* line 748, ../sass/documentation.scss */
.list-module a:hover h3 {
  text-decoration: underline; }

/* line 752, ../sass/documentation.scss */
.list-module ul {
  list-style-type: none;
  margin: 0px; }

/* line 757, ../sass/documentation.scss */
.list-module h3 {
  margin: 0px;
  font-size: 13px; }

/* line 762, ../sass/documentation.scss */
.list-module .list-body a p {
  color: #666;
  margin: 0px; }

/* @end */
/****************************/
/*  Expandable List Module  */
/****************************/
/* line 773, ../sass/documentation.scss */
div.expandable > ul h3 {
  display: table;
  width: 100%; }

/* line 778, ../sass/documentation.scss */
div.expandable > ul h3 > a {
  display: table-cell;
  background-color: #ef6d00; }

/* line 783, ../sass/documentation.scss */
div.expandable > ul h3 > a:hover {
  background-color: #ef6d00; }

/* line 787, ../sass/documentation.scss */
div.expandable > ul h3 > a.collapsed,
div.expandable > ul h3 > a.expanded {
  background-image: url(../images/expand-arrows.png);
  background-position: 0px -3px;
  background-repeat: no-repeat;
  background-color: #ef6d00;
  width: 13px;
  padding: 8px 11px; }

/* line 797, ../sass/documentation.scss */
div.expandable > ul h3 > a.expanded {
  background-position: -38px -3px;
  background-color: #ef6d00; }

/* line 802, ../sass/documentation.scss */
div.expandable > ul h3 > a.collapsed:hover {
  background-image: url(../images/expand-arrows.png);
  background-position: 0px -43px;
  background-repeat: no-repeat;
  width: 13px;
  padding: 8px 11px; }

/* line 811, ../sass/documentation.scss */
div.expandable > ul h3 > a.expanded:hover {
  background-position: -38px -43px; }

/* line 816, ../sass/documentation.scss */
li.api-status a.good {
  color: #227b41; }

/* line 820, ../sass/documentation.scss */
li.api-status a.minor {
  color: #ed8b3f; }

/* line 824, ../sass/documentation.scss */
li.api-status a.major {
  color: #ad1a05; }

/* line 828, ../sass/documentation.scss */
li.api-status img {
  float: left;
  margin: 0 5px 0 0; }

/* @end */
