/*
 * Home-Search-Box
 */


.wrapper-banner-search{
  width: 100%;
  height: 270px;
  background: #f26d00; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNWIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMjZkMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #ff5b00 0%, #f26d00 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5b00), color-stop(100%,#f26d00)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ff5b00 0%,#f26d00 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ff5b00 0%,#f26d00 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ff5b00 0%,#f26d00 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ff5b00 0%,#f26d00 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5b00', endColorstr='#f26d00',GradientType=0 ); /* IE6-8 */

  .container{
    height: 270px;
    background-image:url('../images/character-help-pose.png');
    background-repeat: no-repeat;
    background-position: 90% -80px; 


    input{
      padding: 30px;
      overflow: hidden;
      width: 60%;
      font-size: 16px;
      margin: 90px 0 0 0;
      @extend .pull-left;
      border-radius: 40px;

      // @include border-radius(40px);
      
    }
    p{
      span{ font-weight:600;}
      padding: 0px;
      overflow: hidden;
      width: 60%;
      font-size: 16px;
      margin: 20px 0 0 0;
      @extend .pull-left;
      color: #ffffff;
      font-size: 12px;      
    }

    /* Small devices (tablets, 480px) */
    @media (min-width: $screen-xs) { 
      input{ width: 70%;}
      p{ font-size: 12px;}
    }
    /* Small devices (tablets, 768px and up) */
    @media (min-width: $screen-sm-min) { 
      input{ width: 75%;}
      p{ font-size: 12px;}
    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: $screen-md-min) {
      input{ width: 75%;}
      p{ font-size: 12px;}
    }
    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: $screen-lg-min) {  
      input{ width: 75%;}
      p{ font-size: 12px;}
    }

  }


}
